.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.button{
  width: 4rem;
  height: 4rem;
  border: #282c34 solid 1px;
  line-height: 4rem;
  text-align: center;
  
}

.dis{
  cursor: not-allowed;
  pointer-events: none;
  background: #c7c7c7;
}

.button:disabled{
  color: black;
}
.winner{
text-align: center;
}

.board{
  margin: 0 auto;
  margin-top:15vh;
  justify-content: center;
  line-height: 100%;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

